body {
    background-color: rgb(45, 140, 174);
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 1.2em;
}


span.timestamp {
    font-size: .7em;
}

.text {
    margin-top: 1em;
}

.message {
    margin-bottom: 3em;
}

div#tweets {
    max-width: 400px;
}

.signature {
    float: right;
}

.signature:hover {
  color: orange;
}

